Repository ansys/grantami-jobqueue, pull requests merged in 2024-05, with the labels that each got.

#77 Update grantami-serverapi-openapi to v3.0.0
  poetry.lock
  pyproject.toml
Labels: maintenance, dependencies

#79 Fix CI badge
  README.rst
  doc/source/conf.py
Labels: bug, documentation

#80 Skip turning off test VM if there are active workflow runs
  .github/workflows/server_checks.yml
Labels: maintenance

#83 Only run labeler workflow on pull requests
  .github/workflows/label.yml
Labels: maintenance

#87 Prepare 1.0.0 release
  pyproject.toml
Labels: maintenance

#78 CI - 64 - Add doc-changelog action
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  CHANGELOG.md
  doc/changelog.d/78.changed.md
  doc/changelog.d/changelog_template.jinja
  pyproject.toml
Labels: maintenance

#90 Don't generate changelog fragments for dependabot PRs
  .github/workflows/label.yml
  doc/changelog.d/90.changed.md
Labels: maintenance

#98 Clarify meaning of JobStatus enum and ensure more import failures result in 'Failed' status
  doc/changelog.d/98.added.md
  doc/source/api/models.rst
  examples/1_Excel_import_job.py
  examples/2_Text_import_job.py
  examples/3_Excel_export_job.py
  pyproject.toml
  src/ansys/grantami/jobqueue/__init__.py
  src/ansys/grantami/jobqueue/_connection.py
  src/ansys/grantami/jobqueue/_models.py
  tests/test_asyncjob.py
  tests/test_integration.py
Labels: documentation, enhancement, maintenance
