Repository ansys/grantami-jobqueue, pull requests merged in 2024-10, with the labels that each got.

#139 Handle lack of job specific outputs
  doc/changelog.d/139.fixed.md
  src/ansys/grantami/jobqueue/_models.py
  tests/test_asyncjob.py
Labels: bug

#140 Prepare 1.0.2 release
  .github/workflows/server_checks.yml
  README.rst
  doc/changelog.d/134.documentation.md
  doc/changelog.d/135.documentation.md
  doc/changelog.d/136.documentation.md
  doc/changelog.d/137.maintenance.md
  doc/changelog.d/139.fixed.md
  doc/changelog.d/140.fixed.md
  doc/source/conf.py
  doc/source/getting_started/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  pyproject.toml
  src/ansys/grantami/jobqueue/_models.py
  tests/test_asyncjob.py
Labels: bug, documentation, maintenance

#143 Add release environment in CI and prevent release without successful changelog step
  .github/workflows/ci_cd.yml
  doc/changelog.d/143.maintenance.md
Labels: maintenance

#144 Fix 1.0.2 changelog
  CHANGELOG.md
  doc/changelog.d/134.documentation.md
  doc/changelog.d/135.documentation.md
  doc/changelog.d/136.documentation.md
  doc/changelog.d/137.maintenance.md
  doc/changelog.d/144.fixed.md
Labels: bug

#147 Add support for virtual paths
  doc/changelog.d/147.added.md
  doc/source/api/models.rst
  src/ansys/grantami/jobqueue/__init__.py
  src/ansys/grantami/jobqueue/_models.py
  tests/test_integration.py
  tests/test_job_requests.py
Labels: documentation, enhancement

#148 Upgrade serverapi-openapi to 4.0.0rc0
  .github/workflows/ci_cd.yml
  .github/workflows/server_checks.yml
  README.rst
  doc/changelog.d/148.dependencies.md
  poetry.lock
  pyproject.toml
  src/ansys/grantami/jobqueue/_connection.py
  tox.ini
Labels: maintenance, dependencies

#149 Bump grantami-serverapi-openapi to 4.0.0
  doc/changelog.d/149.dependencies.md
  poetry.lock
  pyproject.toml
Labels: maintenance, dependencies
